/* 
    #77C9D4 Feather
    #57BC90 marine
    #015249 Forest
    #A5A5AF sleek grey
    #F5F5F5 very light grey
    #DEDEDE light grey

    .something <-- Class selector
    #something <-- ID selector
*/

/*
-- ------------------------------
-- GENERAL
-- ------------------------------
*/



/*
-- ------------------------------
-- NAVIGATION
-- ------------------------------
*/
    .navbar-body {
        background-color: #FFFFFF;
        font-weight: 700;
        color: #77C9D4;
        border-bottom-color: #77C9D4;
        border-bottom: 2px solid;
    }

        .navbar a {
            color: #77C9D4;
        }

        .navbar a:hover {
            color: #015249;
        }

/*
-- Log in modal
*/

.modal-header {
    background-color: #57BC90;
    color: #FFFFFF;
}

.modal-body {
    color: #015249;
    font-family: FontAwesome, "Open Sans", Verdana, sans-serif;
}



/*
-- ------------------------------
-- FOOTER
-- ------------------------------
*/
    .colorful-footer-bar {
        background-color: #57BC90;
        color: #FFFFFF;
    }


    .footer-body {
        background-color: #F5F5F5;
        color: #000000;
    }

        .footer-body a {
            color: #000000;
        }

        .footer-body a:hover {
            color: #A5A5AF;
        }

        /*
        .footer-body i {
            color: #A5A5AF;
        }
        */

    hr { 
        width: 40px;
        color: #57BC90;
        border-top: 2px solid;
    }

        

    .footer-end {
        background-color: #DEDEDE;
        color: #A5A5AF;
    }