/* 
    #77C9D4 Feather
    #57BC90 marine
        #abddc7 same green but lighter 
    #015249 Forest
    #A5A5AF sleek grey
    #F5F5F5 very light grey
    #DEDEDE light grey

    .something <-- Class selector
    #something <-- ID selector
*/

/*
-- ------------------------------
-- GENERAL
-- ------------------------------
*/



/*
-- ------------------------------
-- NAVIGATION
-- ------------------------------
*/
    .navbar-body {
        background-color: #FFFFFF;
        font-weight: 700;
        color: #77C9D4;
        border-bottom-color: #77C9D4;
        border-bottom: 2px solid;
    }

        .navbar a {
            color: #77C9D4;
        }

        .navbar a:hover {
            color: #015249;
        }

/*
-- Log in modal
*/

.modal-header {
    background-color: #77C9D4;
    color: #FFFFFF;
}




.modal-body {
    color: #000000;
    font-family: FontAwesome, "Open Sans", Verdana, sans-serif;
}

.modal-body button {
    background-color: #77C9D4;
    border-color: #77C9D4;
}

.modal-body button:hover {
    background-color: #A5A5AF;
    border-color: #A5A5AF;
}

.col-form-label {  /* change the icons */
    color: #77C9D4;
    font-size: 1.2em;
}

.modal-body ::placeholder { 
    color: #DEDEDE;
    opacity: 1; /* Firefox */
}

.modal-body a {
    color: #A5A5AF;
}

.modal-body a:hover {
    color: #77C9D4;
}


.modal-footer {
    background-color: #77C9D4;
    color: #FFFFFF;
}

.modal-footer a {
    color: #015249;
}

.modal-footer a:hover {
    color: #A5A5AF;
}


/*
-- ------------------------------
-- Sign Up
-- ------------------------------
*/

h3 {
    color: #77C9D4;
    font-weight: 500;
}

.signup {
    color: #000000;
    font-family: FontAwesome, "Open Sans", Verdana, sans-serif;
}

.signup a {
    color: #77C9D4;
    font-family: FontAwesome, "Open Sans", Verdana, sans-serif;
}

.btn-primary {
    background-color: #77C9D4;
    border-color: #77C9D4;
    font-size: 1.2em;
    font-weight: 500;
}

.btn-primary:hover {
    background-color: #A5A5AF;
    border-color: #A5A5AF;
}

.btn-primary:active {
    background-color: #DEDEDE;
    border-color: #DEDEDE;
}

.signup ::placeholder { 
    color: #DEDEDE;
    opacity: 1; /* Firefox */
}


/*
-- ------------------------------
-- USER PROFILE
-- ------------------------------
*/

.user-cover {
        height: 40em;
        background: url("../images/cover1.jpg") no-repeat center center fixed;
        background-size: cover;
      
  }

 .userinfo input{
    border: 0px;
    width: 100%;
 }

/*
-- ------------------------------
-- ALERTS messages
-- ------------------------------
*/
    .alert-mygreen {
        color: #015249;
        background-color: #abddc7;
    }

    .alert-mygrey {
        color: #000000;
        background-color: #DEDEDE;
    }



/*
-- ------------------------------
-- POSTREPLIES 
-- ------------------------------
*/

.card {
    width: 100%;
}

.card-img-top {
    width: 100%;
}


/*
-- ------------------------------
-- ADMIN page
-- ------------------------------
*/

/* The sidebar menu */
.sidenav {
    height: 100%; /* Full-height: remove this if you want "auto" height */
    width: 160px; /* Set the width of the sidebar */
    position: fixed; /* Fixed Sidebar (stay in place on scroll) */
    z-index: 1; /* Stay on top */
    top: 58px; /* Stay at the top */
    left: 0;
    background-color: #77C9D4; 
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 20px;
}

/* The navigation menu links */
.sidenav a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 25px;
    color: #FFFFFF;
    display: block;
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover {
    color: #f1f1f1;
}

/* Style page content */
.main {
    margin-left: 160px; /* Same as the width of the sidebar */
    padding: 0px 10px;
}

/* On smaller screens, where height is less than 450px, change the style of the sidebar (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
}

/*
-- ------------------------------
-- FOOTER
-- ------------------------------
*/
    .colorful-footer-bar {
        background-color: #57BC90;
        color: #FFFFFF;
    }


    .footer-body {
        background-color: #F5F5F5;
        color: #000000;
    }

        .footer-body a {
            color: #57BC90;
        }

        .footer-body a:hover {
            color: #A5A5AF;
        }

        /*
        .footer-body i {
            color: #A5A5AF;
        }
        */

    hr { 
        width: 40px;
        color: #57BC90;
        border-top: 2px solid;
    }

        

    .footer-end {
        background-color: #DEDEDE;
        color: #A5A5AF;
    }